{% extends "cabinet.html" %}
{% block content %}

    <div class="row">

        <div class="columns large-12">
            <fieldset>
                <legend>{{ _('Blacklist') }}</legend>

                <div class="row">
                    <div class="columns large-6 large-offset-3">
                        <table>
                            <thead>
                            <tr>
                                <th>{{ _('Email') }}</th>
                                <th width="200">{{ _('Date of enlisting') }}</th>
                                <th width="250">{{ _('Action') }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if black_list %}
                            {% for item in black_list %}
                            <tr>
                                <td class="text-center">{{ item.blacklist_email }}</td>
                                <td class="text-center">{{ item.blacklist_date }}</td>
                                <td class="text-center"><a href="/removebl?email={{ item.blacklist_email }}">-</a></td>
                            </tr>
                            {% endfor %}
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>

            </fieldset>
        </div>
    </div>

{% endblock %}