{% extends "cabinet.html" %}
{% block content %}

    <div class="row">
        <div class="columns large-12">
            <fieldset>
                <legend>{{ _('Connected Clouds') }}</legend>
                {% if not clouds %}
                <div class="row">
                    <img src="/static/images/logogrey.png" height="20%" width="20%"/>
                </div>
                {% else %}
                <div class="row">
                {% for cloud in clouds %}
                        <img src="/static/images/{{cloud}}" height="20%" width="20%"/>
                {% endfor %}
                    </div>
                {% endif %}
                <div class="row">
                    <div class="large-3 columns large-offset-9">
                        <a href="#" data-reveal-id="secondModal"><button class="small" onclick="$('#cloudsModal').foundation('reveal', 'open')">{{ _('Add cloud') }}</button></a>
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="columns large-12">
            <fieldset>
                <legend>{{ _('Stats') }}</legend>
                <div class="row panel">
                    <h6 class="subheader">{{ _("You've got") }}: {{data['count']}} {{ _('files') }}</h6>
                    <h6 class="subheader">{{ _('From') }}: {{data['from']}} {{ _('emails') }}</h6>
                    <h6 class="subheader">{{ _('There were') }} {{data['size']}} {{ _('MB in them') }}</h6>
                 </div>
                <div class="row">
                    <table>
                        <thead>
                        <tr>
                            <th width="200">{{ _('From') }}</th>
                            <th width="150">{{ _('Move address to blacklist') }}</th>
                            <th width="320">{{ _('File name') }}</th>
                            <th width="100">{{ _('File size') }}</th>
                            <th width="100">{{ _('Date') }}</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for item in data['files'] %}
                        <tr>

                            <td>{{item.file_from_email}}</td>
                            <td class="text-center"><a href="/add_tobl?email={{item.file_from_email}}">+</a></td>
                            <td>{{item.file_name}}</td>
                            <td>{{item.file_size}}</td>
                            <td>{{item.file_date}}</td>

                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

            </fieldset>
        </div>
    </div>
    <div id="cloudsModal" class="reveal-modal small">
        <h3>{{ _('Choose a cloud to connect to us.') }}</h3>
        <a href="/adddropbox"><img src="/static/images/dropbox.png"/></a>
        <a class="close-reveal-modal" onclick="$('#cloudsModal').foundation('reveal', 'close')">&#215;</a>
    </div>
{% endblock %}