{% extends "cabinet.html" %}
{% block content %}

    <div class="row">

        <div class="columns large-12">
            <fieldset>
                <legend>{{ _('Password') }}</legend>
                <div>
                    <p>{{ _('Here you can change your current password') }}:</p>

                    <form class="login" id="login-form" action="/chgpassword" method="POST">
                        <div>
                            <label for="login">{{ _('New password') }}:</label>
                            <input id="pass1" type="password" name="password" placeholder="{{ _('New password') }}" required/>
                        </div>
                        <div>
                            <label for="password">{{ _('New password(again)') }}:</label>
                            <input id="pass2" type="password" name="password2" placeholder="{{ _('New password(again)') }}" required/>
                        </div>
                        <div>
                            <input type="submit" value="{{ _('Change') }}"/>
                        </div>
                        <div id="result"></div>

                    </form>
                </div>
            </fieldset>
            <fieldset>
                <legend>{{ _('Security code') }}</legend>
                <div>
                    <p>{{ _('Please use this security code in email body to prevent email from spamers') }}:</p>

                    <form id="codeform" class="login" action="/setcode" method="POST">
                        <div class="text-center">
                            <label for="code">{{ _('Code') }}:</label>
                            <input type="text" name="code" id="code_id" placeholder="{{ _('New code') }}" maxlength="4" required/>
                        </div>

                        <div>
                            <input type="submit" value="{{ _('Change') }}"/>
                        </div>
                        <div id="result"></div>

                    </form>
                </div>
            </fieldset>
        </div>
    </div>
    <script language="JavaScript" type="text/javascript">
        $(function () {
            $("form#codeform").validate({
                rules: {
                    code: {
                        required: true,
                        minlength: 4,
                        maxlength: 4,
                        number: true
                    }
                }
            });
        });
        $(function () {
            $("form#login-form").validate({
                rules: {

                    pass: {
                        required: true,
                        minlength: 5
                    },

                    pass2: {
                        required: true,
                        minlength: 5,
                        equalTo: "#pass1"
                    }
                },
                messages: {
                    user: "{{ _('Login must contain only latin letters and digits!') }}",
                    email: "{{ _('Please enter valid email address!') }}",
                    password: "{{ _('Password must contain at lest 5 characters!') }}"
                }
            });
        });
    </script>


{% endblock %}