{% extends "main.html" %}
{% block topmenu %}
    <nav class="top-bar" data-options="is_hover:false">
        <ul class="title-area">
            <!-- Title Area -->
            <li class="name">
                <h1>send2cloud.com</h1>
            </li>
            <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
            <li class="toggle-topbar menu-icon"><a href="#"><span>{{ _('Menu') }}</span></a></li>
        </ul>

        <section class="top-bar-section">
            <!-- Right Nav Section -->
            <ul class="right">
                <li class="active"><a href="/user">{{ _('Main') }}</a></li>
                <li class="has-dropdown not-click"><a href="#">{{ _('Settings') }}</a>
                    <ul class="dropdown">
                        <li><a href="/account">{{ _('Account') }}</a></li>
                        <li><a href="/blacklist">{{ _('Blacklist') }}</a></li>
                    </ul>
                </li>
                <li class="active"><a href="/logout">{{ _('Logout') }}</a></li>
            </ul>
        </section>
    </nav>
{% endblock %}
{% block content %}{% endblock %}