{% extends "main.html" %}
{% block content %}
    <div class="body">
        <div class="row">
            <div class="columns large-12">
                <div class="columns large-8">
                    <div class="row text-center">
                        <img  src="/static/images/logo.png">
                    </div>
                    <div class="row">
                        <div class="columns large-12">
                            <div class="intro">{{ _('Welcome!') }}</div>
                            <p>{{ _('Send2cloud.com is a service, destined for automatic uploading via e-mail your content to the cloud. Now we are ready to upload your files to Dropbox cloud. Just three easy steps:') }}<br>
                                {{ _('1. Attach your files to email.') }}<br> {{ _('2. Use your login as a subject.') }}<br>
                                {{ _('3. Send email to service@send2cloud.com') }}<br> {{ _("That's all! Your files are in your Dropbox.") }}
                            </p>
                            {{ _('The service is avalable only if you are a Dropbox user already.') }}
                        </div>
                        <div class="columns large-10">
                            <a href="https://twitter.com/share" class="twitter-share-button" data-size="large">{{ _('Tweet') }}</a>
                        </div>
                        <div class="columns large-2">
                            <a href="/changelang/ru"><img src="/static/images/russia-flag.png"></a> <a href="/changelang/en"><img src="/static/images/usa-flag.png"></a>
                        </div>
                    </div>
                </div>
                <div class="columns large-4">
                    <div class="row">
                        <div class="forms">
                            <h3>{{ _('Your actions:') }}</h3>

                            <p>{{ _('If you are already registered user do please login with your password:') }}</p>

                            <form class="login" id="login-form" action="/login" method="POST">
                                <div>
                                    <label for="login">{{ _('Login:') }}</label>
                                    <input type="text" name="user" placeholder="{{ _('Login') }}" required/>
                                </div>
                                <div>
                                    <label for="password">{{ _('Password:') }}</label>
                                    <input type="password" name="password" placeholder="{{ _('Password') }}" required/>
                                </div>
                                <div>
                                    <input type="submit" value="{{ _('Enter!') }}"/>
                                </div>
                                <div id="result"></div>
                                <div class="text-center">
                                    <small>{{ _('Problems while logging in? You can') }} <a
                                            href="/recover">{{ _('recover password') }}</a>.
                                    </small>
                                </div>
                                {% if login_error %}
                                    <span class="round alert label text-center">{{ _('Wrong login or password') }}</span>
                                {% endif %}
                            </form>


                            <hr>

                            <p>{{ _('If you are visiting site at first time we heartily invite you to registration.') }}</p>

                            <form class="login" id="register-form" action="/register" method="POST">
                                <div>
                                    <label for="login">{{ _('Login:') }}</label>
                                    <input type="text" name="user" placeholder="{{ _('Login') }}" required/>
                                </div>
                                <div>
                                    <label for="email">{{ _('E-mail address:') }}</label>
                                    <input type="text" name="email" placeholder="{{ _('E-mail address:') }}" required/>
                                </div>
                                <div>
                                    <label for="password">{{ _('Password:') }}</label>
                                    <input type="password" id="pass" name="password" placeholder="{{ _('Password:') }}"
                                           required/>
                                </div>
                                <div>
                                    <input type="submit" value="{{ _('Register me!') }}"/>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-36975788-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
    </script>
    <script language="JavaScript" type="text/javascript">
        $(function () {
            $("form#register-form").validate({
                rules: {
                    user: {
                        required: true,
                        minlength: 5
                    },
                    email: {
                        required: true,
                        email: true
                    },
                    password: {
                        required: true,
                        minlength: 5
                    }

                },
                messages: {
                    user: "{{ _('Login must contain only latin letters and digits!') }}",
                    email: "{{ _('Please enter valid email address!') }}",
                    password: "{{ _('Password must contain at lest 5 characters!') }}"
                }
            });
        });
    </script>
    <script>!function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (!d.getElementById(id)) {
            js = d.createElement(s);
            js.id = id;
            js.src = "//platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js, fjs);
        }
    }(document, "script", "twitter-wjs");</script>


{% endblock %}