<html>
<head>
    <title>{{ _('Easy way to send files to Dropbox via e-mail') }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="/static/css/foundation.css" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='css/newcss.css') }}" rel="stylesheet" type="text/css" />
    <script language="JavaScript" src="/static/js/vendor/zepto.js" type="text/javascript"></script>
    <script language="JavaScript" src="/static/js/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script language="JavaScript" src="/static/js/jq.timer.js" type="text/javascript"></script>
    <script language="JavaScript" src="/static/js/jquery.validate.min.js" type="text/javascript"></script>
    <script language="JavaScript" src="/static/js/jquery.form.js" type="text/javascript"></script>
    <script language="JavaScript" src="/static/js/foundation.min.js" type="text/javascript"></script>
    <script language="JavaScript" src="/static/js/foundation/foundation.reveal.js" type="text/javascript"></script>
    <script language="JavaScript" src="/static/js/vendor/custom.modernizr.js" type="text/javascript"></script>

</head>

<body>
{% block topmenu %}{% endblock %}
{% block content %}{% endblock %}

</body>
</html>