{% extends "main.html" %}
{% block content %}
    <div class="row">
        <div class="columns large-12">
            <div class="row">
                <div class="large-4 columns large-offset-4"><a href="/"><img src="/static/images/logo.png"></a></div>
            </div>
            <div class="panel message">
               <div class="row">
                   <div class="large-12 columns text-center">
                       {{message_text}}
                   </div>

               {% if inputCode %}
               <div class="row">
                    <div class="large-12 columns text-center"><a target="_blank" href={{auth_link}}>{{auth_link}}</a></div>
                </div>
               {% endif %}
                <br>
                {% if inputCode %}
                <div class="row">
                <div >
                    <div class="large-8 large-offset-2 columns text-center">
                    <form action="/gotdropbox" method="POST">
                           <input type="text" name="code" required/>
                           <input type="submit" value="{{ _('Enter code') }}" required/>

                     </form>
                    </div>
                </div>
                </div>
                {% endif %}
                {% if inputMail %}
                    <div class="row">
                        <div >
                            <div class="large-6 large-offset-3 columns text-center">
                                <form name="email-form" action="/send_reminder" method="POST">
                                    <input type="text" name="email" required/>
                                    <input type="submit" value="{{ _('Enter email') }}"/>

                                </form>
                            </div>
                        </div>
                    </div>
                {% endif %}
                   {% if passRestore %}
                       <div class="row">
                           <div class="large-6 large-offset-3 columns text-center">
                               <form name="newpass-form" action="/setnewpass" method="POST">
                                   <div>
                                       <label for="password">{{ _('Password:') }}</label>
                                       <input type="password" name="password" placeholder="{{ _('Password') }}" required />
                                   </div>
                                   <div>
                                       <label for="password">{{ _('Password (again)') }}</label>
                                       <input type="password" name="password2" placeholder="{{ _('Password (again)') }}" required />
                                   </div>
                                   <input type="submit" value="Submit"/>
                               </form>
                           </div>

                       </div>
                   {% endif %}
            </div>
        </div>
    </div>
    </div>
    <script language="JavaScript" type="text/javascript">
       $("form#newpass-form").validate({
                rules: {

                    pass: {
                        required: true,
                        minlength: 5
                    },

                    pass2: {
                        required: true,
                        minlength: 5,
                        equalTo: "#pass1"
                    }
                }
            });
       $("form#email-form").validate({
           rules: {

               email: {
                   email: true

               }
           }
       });

    </script>

{% endblock %}
